.home{
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
}

.home-title{
    margin: 20px 150px;
    font-size: 60px;
    height: 60px;
    font-weight: 500;
    color: rgb(5, 57, 107);
}

.item-title{
    margin: 20px;
    font-size: 60px;
    height: 60px;
    font-weight: 500;
    color: rgb(5, 57, 107);
}

.button-position{
    margin-top: 200px;
    margin-left: 150px;
}

.index-container{
    max-width: 1400px;
    margin: 0px auto;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
}

.index-item{
    background-color: rgba(237, 245, 224, 0.98);
    color: rgb(5, 57, 107);
    border-radius: 15px;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    font-size: 21px;
    padding: 30px;
}

.img-responsive{
    width: 100%;
    height: auto;
}

@media (max-width: 1250px){
    .index-container{
      max-width: auto;
      margin: 20px auto;
      padding: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      row-gap: 5px;
    }
}
  
@media (max-width: 1000px){
    .index-container{
      max-width: auto;
      margin: 0px auto;
      padding: 30px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      row-gap: 5px;
    }
}


@media only screen and (max-width: 600px){
    .home{
        justify-self: center;
        align-items: center;
    }

    .header-container{
        margin-left: 0px;
        border-radius: 10px;
        padding: 10px;
        width: 80%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
    }

    .header-container h1{
        justify-content: center;
        align-items: center;
        font-size: 40px;
        height: 30px;
        font-weight: 300;
        color: white;
    }

    .header-container p{
        padding: 0px;
        font-size: 30px;
        color: white;
    }

    
}
