.content{
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
}

.foreground{
    width: 1250px;
    margin: 50px 330px;
    padding: 20px;
    background: rgba(1, 48, 38, 0.97);
    color: rgb(253, 249, 223);
    /*border: rgb(1, 48, 38) 2px solid;*/
    border-radius: 15px;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.main-heading{
    margin: 20px 50px;
    font-size: 60px;
    height: 60px;
    font-weight: 500;
}

.section-title{
    margin: 5px 50px;
}

.paragraph{
    margin: 50px;
    font-size: 20px;
}

.paragraph-indented{
    margin: 50px 150px;
    font-size: 20px;
}

.hyperlink{
    color: rgb(253, 249, 223);
}

.backHyperlink{
    text-decoration: none;
    margin: 5px;
    color: rgb(253, 249, 223);
}

.button-position-page{
    margin: 200px 600px;
    background-color: rgb(253, 249, 223);
}

.wireframes-img{
    width: auto;
    height: auto;
    margin: 10px 100px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.video-container{
    max-width: 1400px;
    margin: 20px auto;
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr;
  }

.video-responsive{
    width: 100%;
    height: auto;
  }

@media only screen and (max-width: 900px) {
    .foreground{
        width: 850px;
        margin: 10px 20px;
        background: rgb(1, 48, 38);
        color: rgb(253, 249, 223);
        border: rgb(1, 48, 38) 2px solid;
        border-radius: 15px;
        box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    }
    
    .wireframes-img{
        width: 100%;
        height: auto;
        margin: 50px;
        align-items: center;
    }
}

@media only screen and (max-width: 600px) {
    .wireframes-img{
        width: 600px;
        height: auto;
        margin: 50px;
        align-items: center;
    }
}